MONGODB_URI=mongodb+srv://usuario:password@cluster.mongodb.net/tesoreria?retryWrites=true&w=majority
JWT_SECRET=tu_secreto_muy_seguro_aqui
PUBLIC_ACCESS_TOKEN=genera_una_clave_larga_y_aleatoria_min_32_chars
PORT=3000
NODE_ENV=development
